body {
  background-color: #f47620ff;
}

.rectangle {
	width: 1904px;
	height: 100px;
	background: #7cbd59ff;
}

h1 {
  font-family: Impact;
  color: black;
  text-align: center;
  font-size: 100px;
  position: fixed; top: 25px;
  position: fixed; right: 635px;
}

.jean {
    position: fixed; top: 9px;
    position:fixed; right: 20px;
    width: 100px;
    height: 100px;
}

.jean1 {
    position: fixed; top: 9px;
    width: 100px;
    height: 100px;
}

/*
.img1 {
    opacity: 0.5;
}
*/
